

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700;1,900&family=Rubik+Beastly&family=Staatliches&display=swap');

body {
  margin: 0px;
  background: #1B065E;
  color: #496DDB;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 120px;
  font-family: Staatliches;
  color: #FF47DA;
}
h2 {
  font-size: 60px;
  font-family: Montserrat;
  font-weight: 900;
  font-style: italic;
  color: #CDEDFD;
}
h3 {

  font-size: 40px;
  color: #496DDB;
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
}


a {
  color: rgb(3,206,164);
  text-decoration: none;
  font-family: Montserrat;
}
a:hover {
  color: black;
}

.banner{
  text-align: center;
  color: white;
  padding: 50px 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url("https://picsum.photos/id/121/2000/3000");
  background-size: cover;
  background-position: center;
}
.banner h1 {
  font-size: 50px;
}
.banner p {
  opacity: 2.0;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 5px;
}


.btn-blue {
  color: white;
  background: #FF5CD3;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  border-radius: 5px;
  padding: 10px 10px;
  height: 40px;
  width: 100px;
  margin: 0 auto ;
  text-align: center;
}
.btn-blue:hover {
  background: #7795f8;
  color: white;
}


.card-white {
  background-color: #FCEEF7;;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(12,8,10,.11);
  padding: 16px;
  margin: 16px 0px;
  height: 200px;
}
.card-white img {
  margin-bottom: 20px;
}

#salut {
  margin: 0 auto;


}

.footer {
  background-color: black;
  padding: 24px;
  color: white;
}
.footer a {
  color: white;
  font-size: 32px;
}


.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 0px 6px;
}








